@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FunkyChony";
  src: url("./fonts/FunkyChoky-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
